.container__intro {}

.container__intro-page {
    background: url(/img/into_main_photo.png);
    background-repeat: round;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-page__img {
    margin-bottom: 38px;
}

.intro-page__button {
    text-decoration: none;
}

.intro__button {
    height: 45px;
    width: 207px;
    font-family: "Roboto", "Bold", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1c5bc4;
    text-transform: uppercase;
    border-color: #1c5bc3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: solid;
    background: transparent;
}

.intro__icon {
    margin-left: 9px;
}