/* index.html style */

.container {
    width: 1100px;
    padding: 0px 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    background-color: #5973B1;
    background-repeat: no-repeat;
    width: 100%;
    height: 77px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info__num {
    color: #fff;
    font-family: "Roboto", "Bold", sans-serif;
    font-size: 21px;
    text-decoration: none;
}

.info__work-time {
    position: absolute;
    top: 45px;
    width: 165px;
    height: 82px;
}

.info__popup {
    display: none;
    padding: 23px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 3px 3px rgb(110, 110, 110);
    border-radius: 5px;
}

.text__time-work {
    display: inline-block;
    color: #3A5BBF;
}

.text__time-dinner {
    display: inline-block;
    margin-top: 10px;
}

.info__work-time:hover .info__popup {
    display: block;
    position: absolute;
    top: 20px;
}

.info__work-time .info__popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 90%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.text__work-time {
    color: #fff;
    font-family: "Roboto", "Bold", sans-serif;
    font-size: 14px;
    opacity: 0.7019607843137254;
    text-decoration: underline;
}

body {
    font-family: "Roboto", "Bold", sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__container {
    margin-top: 45px;
}

.main__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 116px;
}

.nav__menu {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}

.nav__icon {
    display: flex;
    justify-content: center;
    width: 17px;
    margin-right: 19px;
}

.nav-index__text-main {
    color: #262424;
    font-weight: bold;
}

.nav-index__text-comments {
    color: #5972B1;
    font-weight: bold;
}

.nav-index__text-team {
    color: #5972B1;
    font-weight: bold;
}

.main__container-02 {
    margin: 12px 15px;
}

h1 {
    font-size: 49px;
    margin: 0 auto;
    color: #262424;
}

.tariff-list__group {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 830px;
    margin: 70px 70px 0px 0px;
}

.tariff__group {
    font-size: 12px;
    text-transform: lowercase;
    color: #262626;
}

.list-description {
    line-height: 25px;
    font-size: 14px;
    color: #262424;
}

.text__function {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    line-height: 25px;
}

.function {
    padding-left: 15px;
    font-size: 14px;
    color: #262424;
}

.price {
    font-size: 49px;
}

.last-news__main-text {
    margin-top: 60px;
    font-size: 49px;
    color: #262424;
}

.main__news-list {
    padding: 0px;
    list-style-type: none;
}

.news-list {
    display: flex;
    margin-top: 70px;
}

.news-list__photo {
    height: 161px;
    width: 161px;
}

.news-list__text {
    padding-left: 20px;
    font-size: 18px;
}

.date {
    color: #656464;
    font-size: 14px;
}

.main__news-bonus {
    margin-top: 5px;
    margin-bottom: 10px;
}

.news-bonus__text {
    color: #656464;
    line-height: 1.5em;
}

.selection-menu__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    text-align: center;
}

.pages {
    padding-right: 25px;
    color: #656464;
    font-size: 14px;
}

.number__background {
    color: #FFFFFF;
    background-color: #5972B1;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__number {
    text-decoration: none;
    color: #262424;
}

.numbers {
    padding-left: 16px;
}

.numbers:hover {
    color: #5972B1;
}

.smart-object-1 {
    padding-right: 16px;
}

.smart-object-2 {
    padding-left: 16px;
}

.footer {
    background-color: #5972B1;
    width: 100%;
    height: 77px;
}

.footer__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__creat-by {
    font-size: 14px;
    color: #FFFFFF;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social__text {
    color: #FFFFFF;
    margin-bottom: 8px;
    font-size: 14px;
}


/* comments.html style */

.main-comments {
    display: flex;
}

.nav-comments__text-main {
    color: #5972B1;
    font-weight: bold;
}

.nav-comments__text-comments {
    color: #262424;
    font-weight: bold;
}

.nav-comments__text-team {
    color: #5972B1;
    font-weight: bold;
}

.container__comments {
    margin: 45px 0px 0px 93px;
}

.main-comments__link {
    color: rgba(58, 91, 191, 0.8);
    font-size: 14px;
    font-family: "Roboto", "-LightItalic", sans-serif;
    font-style: italic;
}

.main-comments__comments {
    font-size: 14px;
    font-family: "Roboto", "-LightItalic", sans-serif;
    font-style: italic;
}

.main-comments__text {
    margin-top: 20px;
    font-size: 49px;
}

.comments__text-list {
    list-style-type: none;
    margin-top: 50px;
    padding: 0px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-list__main {
    display: flex;
    padding-right: 25px;
}

.text-list__img {
    border-radius: 160px;
    width: 160px;
    height: 160px;
}

.text-list__info {
    margin-left: 20px;
}

.text-list__date {
    font-size: 14px;
    font-family: "Roboto", "Light", sans-serif;
    color: #656464;
}

.text-list__name {
    margin-top: 5px;
    color: #262424;
    font-size: 18px;
}

.text-list__text {
    font-size: 18px;
    font-family: "Roboto", "Light", sans-serif;
    line-height: 1.5em;
    color: #262424;
}

.section__comments {
    margin-top: 60px;
}

.comments__banner {
    background: url(/img/CompositeLayer@1X.png);
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__text {
    width: 635px;
    height: 78px;
    margin-bottom: 35px;
}

.text__paragraphs {
    font-family: "Roboto", "Light", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #fff;
}

.link__paragraphs {
    color: #fff;
}

.section__form-menu {
    margin-top: 58px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.comments__form-menu {
    background-color: #f4f4f4;
    width: 700px;
    height: 427px;
}

.form-menu__object {
    margin: 17px 59px;
}

.form-menu__main {
    font-size: 49px;
    margin: 0 34px 29px 1px;
}

.form-menu__elements {
    display: flex;
    flex-direction: column;
}

.form-menu__block {
    display: flex;
}

.form-menu__name {
    display: inline-flex;
    flex-direction: column;
}

.form-menu__main-text {
    font-size: 14px;
}

.input__block {
    width: 269px;
    height: 45px;
    margin: 7px 23px 21px 1px;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 9px;
}

.form-menu__text {
    display: inline-flex;
    flex-direction: column;
}

.form-menu__textarea {
    display: flex;
    flex-direction: column;
}

.textarea__block {
    width: 561px;
    height: 90px;
    resize: none;
    border-color: #5972b1;
    outline: none;
    font-size: 14px;
    margin: 10px 0 19px 1px;
    padding: 10px 10px;
    border-radius: 3px;
}

.form-menu__radio-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-menu__radio-text {
    display: flex;
}

.radio__block {
    margin: 9px 5px 3px 2px;
}

.answer {
    margin: 11px 20px 0 0;
    font-family: "Roboto", "Light", sans-serif;
    font-size: 14px;
}

.radio__block .radio__input {
    display: none;
}

.radio__block .radiobox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

.radio__block .radio__input:checked+.radiobox {
    background-image: linear-gradient(to top, #ededed, #fff);
    border: 1px solid #5972b1;
}

.radio__block .radio__input:checked+.radiobox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5972b1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.main__button {
    width: 154px;
    height: 45px;
    background-color: #5972b1;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: "Roboto", "Bold", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    letter-spacing: 2.4px;
}

.send__text {
    padding-right: 10px;
    margin-top: 3px;
}


/* team.html style */

.nav-team__text-main {
    color: #5972B1;
    font-weight: bold;
}

.nav-team__text-comments {
    color: #5972B1;
    font-weight: bold;
}

.nav-team__text-team {
    color: #262424;
    font-weight: bold;
}

.container__team-list {
    display: flex;
}

.team-list__team-people {
    display: flex;
    flex-direction: column;
}

.team-list__list-block {
    display: flex;
    flex-direction: column;
}

.team-list__team {
    margin: 0 auto;
}

.team-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
}

.img__team {
    width: 160px;
    height: 160px;
}

.team-list__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.7em;
}